.cache
.lsp-session-v1
/tree-sitter
/emacs-backup
/eshell
/history
/ido.last
/org-roam.db
/places
/projectile-bookmarks.eld
/projects
/recentf
/tramp
/transient
/url
/elpa
/autosave
/auto-save-list
/backups
/cider-history
/eln-cache
/bookmarks
/straight/
/games/
